<div class="flex f-between">
    <h1 mat-dialog-title>Búsqueda de clientes
    </h1>
        <button mat-button (click)="onCancel()">X</button>
</div>

<div mat-dialog-content>
    <mat-form-field class="full-width mb-20">
        <mat-label>C.U:</mat-label>
        <input matInput autocomplete="off" />
    </mat-form-field>
    <mat-form-field class="full-width mb-20">
        <mat-label>RUC:</mat-label>
        <input matInput autocomplete="off" />
    </mat-form-field>
    <mat-form-field class="full-width mb-20">
        <mat-label>Razón Social:</mat-label>
        <input matInput autocomplete="off" />
    </mat-form-field>
    <button matButton class="button-search">Buscar</button>
</div>