<div class="bg-white content-home" id="proposal">
    <h3 class="font-center">Búsqueda de propuesta</h3>
    <div class="bg-grey p-10 b-radius-4">
        <div>
            <div class="flex-row flex-between">
                <div>Cod MDI: var</div>
                <div>Fecha Solicitud: var</div>
            </div>
            <div>
                <hr class="line white">
            </div>
            <div class="flex-row flex-between">
                <div><b>Código Único:</b> var</div>
                <div><b>RUC:</b> var</div>
                <div><b>Razón Social:</b> var</div>
            </div>
            <div>

            </div>
        </div>
    </div>
    <div>
    </div>

</div>