.flex {
    display: flex;
}
.flex-column {
    display: flex;
    flex-direction: column;
}
::ng-deep.mat-dialog-container {
    background: #f0f0f0 !important;
    color: black;
}

::ng-deep.mat-form-field-appearance-outline .mat-form-field-outline {
    color: black !important;
}

::ng-deep .mat-form-field-wrapper {
    padding-bottom: 0;
}

::ng-deep .mat-form-field-appearance-legacy .mat-form-field-underline {
    bottom: 0.25em !important;
}

::ng-deep .mat-form-field-appearance-legacy .mat-form-field-underline {
    background-color: #000 !important;
}

::ng-deep.mat-form-field-appearance-legacy .mat-form-field-wrapper {
    width: 90%;
    margin: auto;
    padding: 10px 0;
}

::ng-deep mat-label {
    color: #02BD4B !important;
}

::ng-deep .mat-horizontal-stepper-header-container{
    max-width: 200px;
}
