/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: "Poppins", sans-serif !important;
  overflow: hidden;
}
* {
  font-family: "Poppins", sans-serif;
}

.w-100 {
  width: 100%;
}

.h-100 {
  height: 100vh;
}

.bg-green {
  background-color: #009c2d;
}

.green {
  color: #009c2d;
}

.bg-white {
  background-color: #e9e9e9;
}

.mb-10 {
  margin-bottom: 10px;
}

.mt-10 {
  margin-top: 10px;
}

.mx-10 {
  margin: auto 10px !important;
}

.mx-20 {
  margin: auto 20px !important;
}

.ml-10 {
  margin-left: 10px;
}

.fw-600 {
  font-weight: 600 !important;
}

.p-y-5 {
  padding-top: 5px;
  padding-bottom: 5px;
}

.pl-15 {
  padding-left: 15px;
}

.flex-field {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: auto;
  height: 48px;
  background-color: #fff;
  border-radius: 4px;
  &.position {
    margin-bottom: 5px;
    padding: 0 5px 5px !important;
  }
}

:host ::ng-deep .material-icons {
  font-family: "Material Icons" !important;
}

.flex-end {
  display: flex;
  justify-content: flex-end;
}
