.nav{
  height: 60px;
  background-color: #fff;
  display: flex
}

.bg-grey{
  background-color: #F0F0F0;
}

.bg-white{
  background-color: #ffffff;
}

.button-fast-action{
  width: 20px;
  height: 20px;
  padding: 4px;
  background-color: #00A8EC;
  margin-top: 5px;
  display: flex;
  justify-content: center;
  vertical-align: middle;
  cursor: pointer;
  color: #fff;
  text-align: left;
  font-weight: 500;
}

.show-on-hover{
  margin: auto;
  display: none;
}
.hide-on-hover{
  margin: auto;
  display: block;
}

.button-fast-action:hover{
  width: 70px;
  height: auto  ;
  .show-on-hover{
    display: block;
  }
  .hide-on-hover{
    display: none;
  }
  background-color: #02BD4B;
}

.container-fast-action{
  display: flex;
  flex-direction: column;
  height: 120px;
  align-items: flex-end;
}

.content-home{
  padding: 15px;
}

.container-home{
  display: grid;
  grid-template-columns: 70px calc(100vw - 130px);
  padding: 20px 10px
}

.container{
  padding-top: 20px;
  height: calc(100vh - 80px);
}

.p-10{
  padding: 10px
}

.b-radius-10{
  border-radius: 10px;
}


:host::ng-deep.mat-tab-label{
  color: #fff !important;
  background-color: #02BD4B;
  border-radius: 10px;
  margin-right: 10px;
  height: 36px !important;
  width: 200px !important;
  opacity: 1 !important;
}


// importar de app

::ng-deep .flex {
  display: flex;
}
::ng-deep .flex-column {
  display: flex;
  flex-direction: column;
}
::ng-deep .flex-row {
  display: flex;
  flex-direction: row;
}
::ng-deep .flex-around {
  display: flex;
  justify-content: space-around;
}
::ng-deep .flex-between {
  display: flex;
  justify-content: space-between;
}

::ng-deep h3 {
  color: #02bd4b;
  font-size: 32px;
}

::ng-deep .font-center {
  text-align: center;
}

:host::ng-deep.mat-form-field-appearance-outline .mat-form-field-outline {
  color: black !important;
}

:host::ng-deep mat-label {
  color: black !important;
}

::ng-deep .full-width {
  width: 100%;
}

::ng-deep .p-x-5 {
  padding: 0 5px;
}

:host::ng-deep .mat-form-field-wrapper {
  padding-bottom: 0;
}

::ng-deep .grid {
  display: grid;
  grid-template-columns: 40% 40% 20%;
  grid-column-gap: 15px;
  overflow: hidden;
}

::ng-deep .white {
  color: #fff;
}

::ng-deep .line {
  border: 1px solid #fff;
}

:host::ng-deep .mat-tab-label-active {
  background-color: #f0f0f0 !important;
  color: #000 !important;
  border-radius: 0 !important;
}

:host::ng-deep .mat-tab-group.mat-primary .mat-ink-bar,
.mat-tab-nav-bar.mat-primary .mat-ink-bar {
  background-color: #02bd4b;
}

:host::ng-deep .mat-form-field-appearance-legacy .mat-form-field-underline {
  bottom: 0.25em !important;
}

:host::ng-deep .mat-form-field-appearance-legacy .mat-form-field-underline {
  background-color: #000 !important;
}

:host::ng-deep.mat-form-field-appearance-legacy .mat-form-field-wrapper {
  width: 90%;
  margin: auto;
  padding: 10px 0;
}

mat-label {
  color: #02bd4b !important;
}

::ng-deep .mb-20 {
  margin-bottom: 20px;
}

::ng-deep .nav.profile {
  display: flex;
}

::ng-deep .button {
  background-color: #02bd4b;
  border-radius: 30px;
  padding: 5px 10px;
  color: #fff;
  margin: auto;
  border: none;
  cursor: pointer;
}

::ng-deep a {
  color: #00a8ec;
}

::ng-deep p {
  margin: 0 !important;
}

::ng-deep .pr-10 {
  padding-right: 10px;
}

::ng-deep .m-auto {
  margin: auto;
}
::ng-deep .mat-stepper-horizontal,
::ng-deep .mat-stepper-vertical {
  background-color: #f0f0f0;
}

:host::ng-deep.mat-step-header .mat-step-icon-selected,
.mat-step-header .mat-step-icon-state-done,
.mat-step-header .mat-step-icon-state-edit,
:host::ng-deep.mat-step-header .mat-step-icon-selected,
.mat-step-header .mat-step-icon-state-done,
.mat-step-header .mat-step-icon-state-edit {
  background-color: grey !important;
}

::ng-deep .custom-modalbox {
  mat-dialog-container {
      background: #fff !important;
  }
}
::ng-deep.mat-step-header .mat-step-icon-state-edit {
  background-color: grey;
}
