.nav{
  height: 60px;
  background-color: #fff;
  display: flex
}

.bg-grey{
  background-color: #F0F0F0;
}

.bg-white{
  background-color: #ffffff;
}

.button-fast-action{
  width: 20px;
  height: 20px;
  padding: 4px;
  background-color: #00A8EC;
  margin-top: 5px;
  display: flex;
  justify-content: center;
  vertical-align: middle;
  cursor: pointer;
  color: #fff;
  text-align: left;
  font-weight: 500;
}

.show-on-hover{
  margin: auto;
  display: none;
}
.hide-on-hover{
  margin: auto;
  display: block;
}

.button-fast-action:hover{
  width: 70px;
  height: auto  ;
  .show-on-hover{
    display: block;
  }
  .hide-on-hover{
    display: none;
  }
  background-color: #02BD4B;
}

.container-fast-action{
  display: flex;
  flex-direction: column;
  height: 120px;
  align-items: flex-end;
}

.content-home{
  padding: 15px;
}

.container-home{
  display: grid;
  grid-template-columns: 70px calc(100vw - 130px);
  padding: 20px 10px
}

.container{
  padding-top: 20px;
  height: calc(100vh - 80px);
}

.p-10{
  padding: 10px
}

.b-radius-10{
  border-radius: 10px;
}


:host::ng-deep.mat-tab-label{
  color: #fff !important;
  background-color: #02BD4B;
  border-radius: 10px;
  margin-right: 10px;
  height: 36px !important;
  width: 200px !important;
  opacity: 1 !important;
}


// importar de app


.flex {
  display: flex;
}
.flex-column{
  display: flex;
  flex-direction: column;
}
.flex-row{
  display: flex;
  flex-direction: row;
}
.flex-around{
  display: flex;
  justify-content: space-around;
}
.flex-between{
  display: flex;
  justify-content: space-between;
}

h3{
  color: #02BD4B;
  font-size: 32px
}

.font-center{
  text-align: center;
}

:host::ng-deep.mat-form-field-appearance-outline .mat-form-field-outline{
  color: black !important
}

:host::ng-deep mat-label{
  color: black !important
}

.full-width{
  width: 100%;
}

.p-x-5{
  padding: 0 5px;
}

:host::ng-deep .mat-form-field-wrapper{
  padding-bottom: 0;
}

.grid{
  display: grid;
  grid-template-columns: 40% 40% 20%;
  grid-column-gap: 15px;
  overflow: hidden;
}

.white{
  color: #fff
}

.line{
  border: 1px solid #fff
}

:host::ng-deep .mat-tab-label-active{
  background-color: #F0F0F0 !important;
  color: #000 !important;
  border-radius: 0 !important
}

:host::ng-deep .mat-tab-group.mat-primary .mat-ink-bar, .mat-tab-nav-bar.mat-primary .mat-ink-bar{
  background-color: #02BD4B
}

:host::ng-deep .mat-form-field-appearance-legacy .mat-form-field-underline {
  bottom: .25em !important
}

:host::ng-deep .mat-form-field-appearance-legacy .mat-form-field-underline{
  background-color: #000 !important;
}

:host::ng-deep.mat-form-field-appearance-legacy .mat-form-field-wrapper{
  width: 90%;
  margin: auto;
  padding: 10px 0
}

mat-label{
  color: #02BD4B !important
}

.mb-20{
  margin-bottom: 20px
}

.nav.profile{
  display: flex;
}

.button{
  background-color: #02BD4B;
  border-radius: 30px;
  padding: 5px 10px;
  color: #fff;
  margin: auto;
  border: none;
  cursor: pointer
}

a{
  color: #00A8EC
}

p{
  margin: 0 !important
}

.pr-10{
  padding-right: 10px;
}

.m-auto{
  margin: auto
}
.mat-stepper-horizontal, .mat-stepper-vertical{
  background-color: #F0F0F0
}

:host::ng-deep.mat-step-header .mat-step-icon-selected, .mat-step-header .mat-step-icon-state-done, .mat-step-header .mat-step-icon-state-edit, :host::ng-deep.mat-step-header .mat-step-icon-selected, .mat-step-header .mat-step-icon-state-done, .mat-step-header .mat-step-icon-state-edit{
  background-color: grey !important
}

.custom-modalbox {
  mat-dialog-container {
    background: #fff !important;
  }
}
::ng-deep.mat-step-header .mat-step-icon-state-edit{
  background-color: grey
}